/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #1e1e24;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.container {
    max-width: 1056px;
}

.hide {
    display: none;
}

.text-blue {
    color: #1268b3;
}
.text-red {
    color: red;
}

.text-orange {
    color: #f47920;
}

.bg-blue-opacity {
    background: rgba(181, 220, 255, 0.4);
}

/*andre 1-11-22*/
.text-ci {
    color: #4b4b51;
    font-weight: bold;
}
.biru {
    color: #1268b3;
}
.jingga {
    color: #f47920;
}
/*end andre*/

.bg-blue {
    background-color: #1268b3;
}

.bg-orange {
    background-color: #f47920;
}

.bg-grey {
    background-color: #f1f1f1;
}

.overlay-megamenu {
    width: 100%;
    z-index: 1;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 65px;
    display: none;
    left: 0;
}

.overlay {
    width: 100%;
    z-index: 2;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    display: none;
}
.slick-track {
    padding-bottom: 20px;
}

.btn-animate {
    background: linear-gradient(to right, #f47920 50%, #1268b3 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.4s ease-out;
    border: none;
}

.btn-animate:hover {
    background-position: left bottom;
}

/* mega menu */
.navbar li:hover .mega-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
.navbar li:hover .overlay-megamenu {
    display: block;
}

.mega-menu {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    z-index: 3;
    opacity: 1;
    padding: 24px;
    transform: translateY(-100%);
    transition: transform 0.5s ease-out;
}

.mega-menu .column-mega-menu {
    float: left;
    margin: 20px 0;
    margin-right: 30px;
}
.mega-menu .column-mega-menu h3 {
    color: #1268b3;
    font-weight: bold;
    margin-bottom: 24px;
}
.mega-menu .column-mega-menu a {
    color: black;
    padding: 0;
    margin-bottom: 7px;
    border: none;
}
.mega-menu .column-mega-menu a:hover {
    color: #f47920;
    border: none;
}

#floating-menu-general {
    display: none;
}
/*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #1268b3;
}

#preloader img {
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    position: fixed;
    width: 70px;
}

#preloader:before {
    content: '';
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    border: 6px solid #1268b3;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
  # button
  --------------------------------------------------------------*/
.btn-primary {
    background-color: #1268b3;
    border-radius: 24px;
    padding: 12px 24px;
}
.btn-primary:hover {
    background-color: #f47920;
    border-color: #f47920;
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #1268b3;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #6bc1e9;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 2;
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    margin-top: -5px;
}

#header .logo a {
    color: #fff;
}

#header .logo.small-logo {
    display: none;
    position: absolute;
    left: 14px;
    top: 10px;
    z-index: 3;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation 
  */
.navbar {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
    color: white;
    border-bottom: 3px solid #f47920;
}

.navbar .getstarted,
.navbar .getstarted:focus {
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    border: 2px solid #47b2e4;
    font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #fff;
    background: #31a9e1;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
    color: #0c3c53;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
    color: #47b2e4;
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}
.icon-burger-menu {
    padding: 8px 12px;
    background-color: #1268b3;
    cursor: pointer;
    position: absolute;
    right: 24px;
    top: 12px;
    z-index: 3;
}

/**
  * Floating Menu 
  */
.floating-menu {
    position: fixed;
    top: 100px;
    left: 24px;
    z-index: 1;
    padding: 0;
}
.dropdown-content {
    background-color: white;
    height: 38px;
    line-height: 38px;
    margin-left: -2px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    transition: width 0.5s;
    width: 0;
    /* overflow: hidden; */
}
.dropdown-content a {
    display: none;
    width: 180px;
    transition: 0.5s;
}
.dropbtn {
    width: 38px;
    height: 38px;
    background-color: white;
    border: none;
    margin-bottom: 10px;
    font-size: 20px;
    color: #f47920;
    border-radius: 3px;
}
.dropdown:hover .dropbtn {
    background-color: #f47920;
    color: white;
}
.dropdown:hover .dropdown-content {
    background-color: #f47920;
    color: white;
    transition: width 0.5s;
    width: 180px;
}
.dropdown:hover .dropdown-content a {
    display: block;
    transition: 0.5s;
}

/**
  * Shorcut Menu 
  */
.box-shorcut-menu {
    position: fixed;
    top: 50%;
    right: 32px;
    z-index: 3;
    display: flex;
    align-items: center;
}
.box-shorcut-menu .trigger-shorcut-menu {
    background-color: #f47920;
    border-radius: 4px;
    padding: 2px 8px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.shorcut-menu {
    position: absolute;
    background-color: #f47920;
    width: 360px;
    padding: 24px;
    right: 100%;
    display: none;
}

.shorcut-menu ul {
    padding: 0;
}

.shorcut-menu ul li {
    color: white;
    margin-bottom: 9px;
    list-style-type: none;
}

.shorcut-menu ul li i {
    margin-right: 10px;
}

.shorcut-menu .link li {
    font-size: 18px;
}

.shorcut-menu .info li {
    font-size: 16px;
}

/**
  * sidebar directors 
  */
.other-directors {
    list-style: none;
}
.other-directors li {
    background-color: white;
    margin: 0 8px;
    text-align: center;
    overflow: hidden;
    display: flex !important;
    justify-content: center;
}
.other-directors li img {
    width: 80%;
    position: relative;
    bottom: 0;
}

.sidebar-directors {
    width: 100% !important;
    background-color: #f5fbff;
    background-image: url('../img/profil-bisnis-color.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/**
  * sidebar certificate 
  */
.sidebar-cert {
    width: 50% !important;
}

.top-cert {
    background: #f1f1f1;
}

/**
  * sidebar Navigation 
  */
.sidebar-navigation {
    background-color: #1268b3;
}

.sidebar-navigation ul {
    list-style-type: none;
}

.sidebar-navigation ul li {
    font-size: 22px;
    margin-bottom: 24px;
}

.sidebar-navigation ul li a {
    display: flex;
}

.sidebar-navigation ul li i {
    margin-left: 21px;
}

.sidebar-navigation ul li.sub-menu ul {
    margin-top: 24px;
}

.sidebar-navigation ul li.sub-menu ul li.sub-menu ul {
    margin-top: 10px;
}

.sidebar-navigation ul li.sub-menu ul li {
    font-size: 18px;
    margin-bottom: 17px;
    line-height: 20px;
}

.sidebar-navigation ul li.sub-menu ul li.sub-menu ul li {
    font-size: 14px;
    margin-bottom: 8px;
}

.sidebar-navigation a {
    color: white;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(40, 58, 90, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #1268b3;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    color: #47b2e4;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
    color: #1268b3;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
    color: #47b2e4;
}

.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
#hero {
    width: 100%;
    position: relative;
    padding: 0;
}

@keyframes bounce {
    50% {
        transform: translateY(-15px);
    }
}

#hero .arrow-down {
    animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    bottom: 50px;
    cursor: pointer;
}
#hero .arrow-down i {
    color: white;
}

.carousel-caption {
    top: 25%;
}

#hero .container {
    padding-top: 72px;
}

#hero .carousel-indicators {
    left: 0;
    right: auto;
    top: 60%;
    z-index: 1;
}
#hero .carousel-indicators .active {
    background-color: #f47920;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 58px;
    font-weight: 300;
    line-height: 102%;
    color: #fff;
}
#hero .carousel-caption {
    width: 700px;
}

#hero h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
}

#hero .btn-get-started {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
}

#hero .btn-get-started:hover {
    background: #209dd8;
}

#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f3f5fa;
}

.section-title {
    text-align: left;
    margin-bottom: 16px;
    font-size: 13px;
    color: #1268b3;
}

/*--------------------------------------------------------------
  # Product
  --------------------------------------------------------------*/

.box-of-product {
    position: relative;
    margin-top: 100px;
}
.box-circle-product {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.box-circle-product img {
    position: absolute;
    top: 140px;
    right: -10px;
    margin: 0 auto;
}

.box-circle-product .info-product-1 {
    position: absolute;
    right: 39px;
    top: -70px;
    text-align: left;
}

.box-circle-product .info-product-2 {
    position: absolute;
    top: 50px;
    left: -70px;
    text-align: left;
}

.box-circle-product .info-product-3 {
    position: absolute;
    top: 264px;
    left: -130px;
    text-align: left;
}

.box-circle-product h4 {
    font-size: 25px;
    margin-bottom: 0;
}

.box-circle-product p {
    font-size: 13px;
}

.product h3 {
    max-width: 80%;
}

.gradient-blue {
    height: 200px;
    background-image: linear-gradient(#1268b3, transparent);
}
.product {
    background-color: #1268b3;
    color: white;
    padding-bottom: 0;
}
.product .section-title {
    color: white;
}

.rotate-180 {
    -webkit-transform: rotate(360deg);
    -webkit-transition-duration: 3s;
    transform-origin: center center;
}

.rotate-180back {
    -webkit-transform: rotate(0deg);
    -webkit-transition-duration: 3s;
    transform-origin: center center;
}

.list-product {
    list-style: none;
    max-width: 350px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    margin-top: 50px;
    padding-left: 33px;
}
.list-product a {
    margin-left: -33px;
    color: white;
    padding-left: 33px;
    margin-bottom: 70px;
    display: block;
    cursor: pointer;
}
.list-product a h3,
.list-product a p {
    opacity: 0.6;
}
.list-product a.active {
    border-left: 1px solid white;
    display: block;
}
.list-product a.active h3,
.list-product a.active p {
    opacity: 1;
}
.bg-product {
    background-color: #f5fbff;
    background-image: url('../img/bg-product.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 780px;
    background-attachment: fixed;
}
/*andre 25-10-22*/
.bg-profil-bisnis {
    background-color: #f5fbff;
    background-image: url('../img/profil-bisnis-color.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 780px;
    background-attachment: fixed;
}
.bg-greenport {
    background-color: #f5fbff;
    background-image: url('../img/gp1.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 780px;
    background-attachment: fixed;
}
.bg-amoniak {
    background-color: #f5fbff;
    background-image: url('../img/bg-amoniak.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 780px;
    background-attachment: fixed;
}
/*end andre*/

/*--------------------------------------------------------------
  # About Us
  --------------------------------------------------------------*/
.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-left: 28px;
    position: relative;
}

.about .content ul li + li {
    margin-top: 10px;
}

.about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #47b2e4;
    line-height: 1;
}

.about .content p:last-child {
    margin-bottom: 0;
}

.about .content .btn-learn-more {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #47b2e4;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #47b2e4;
}

.about .content .btn-learn-more:hover {
    background: #47b2e4;
    color: #fff;
    text-decoration: none;
}

/*--------------------------------------------------------------
  # Miscellaneous
  --------------------------------------------------------------*/
.miscellaneous {
    position: relative;
    z-index: 1;
}

.miscellaneous::before {
    content: '';
    width: 100%;
    height: 390px;
    background-color: #1268b3;
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.miscellaneous .slick-slide img {
    width: 100%;
}

.miscellaneous .slick-active {
    position: relative;
    z-index: 1;
}

.cl {
    height: 500px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.miscellaneous .slick-center {
    transform: scale(1.08);
}

.miscellaneous .slick-slide:not(.slick-active) {
    margin: 20px 0;
}
.miscellaneous .slick-slide:not(.slick-active) .cl img {
    height: 200px;
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
    padding: 0 80px;
}

.child {
    width: 100%;
}

.miscellaneous .slide:not(.slick-active) {
    cursor: pointer;
}

/*--------------------------------------------------------------
  # Certificate
  --------------------------------------------------------------*/
.card-cerficate {
    margin: 24px;
    cursor: pointer;
}

.card-cerficate:hover .caption {
    background-color: #f47920;
    transition: all 0.5s;
}

.card-cerficate:hover .image img {
    transform: scale(1.1);
    transition: all 0.5s;
}

.card-cerficate .image {
    overflow: hidden;
    width: 100%;
    background-color: #f1f1f1;
    padding: 16px;
    transition: all 0.5s;
}

.card-cerficate .image img {
    width: 100%;
    transition: all 0.5s;
}

.card-cerficate .caption {
    background: #1268b3;
    padding: 16px;
    transition: all 0.5s;
}

.card-cerficate .caption p {
    font-size: 16px;
    color: white;
    margin-bottom: 8px;
}

.card-cerficate .caption label {
    font-weight: 700;
    color: white;
    font-size: 12px;
    padding-bottom: 7px;
    border-bottom: 1px solid white;
}

.certificate {
    background-color: #f5fbff;
    background-image: url('../img/acsent-cert.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#current-cert {
    transition: 0.4s;
}

.list-certificate {
    list-style: none;
    max-width: 408px;
}

.list-certificate li {
    margin-bottom: -1px;
    padding: 26px 12px;
    border-top: 1px solid rgba(18, 104, 179, 0.4);
    border-bottom: 1px solid rgba(18, 104, 179, 0.4);
    cursor: pointer;
}

.list-certificate li span,
.list-certificate li p,
.list-certificate li small {
    color: #1e1e24;
    opacity: 40%;
}

.list-certificate li.active span,
.list-certificate li.active p,
.list-certificate li.active small {
    opacity: 100%;
}

/*--------------------------------------------------------------
  # Investor
  --------------------------------------------------------------*/
.investor {
    background: url('../img/investor.png') fixed center center;
    background-size: cover;
    padding: 120px 0;
    background-position: 0 0px;
}
.box-book-investor {
    width: 155px;
}
/*andre 25-10-22*/
.profil-bisnis {
    background: url('../img/profil-bisnis-canvas.png') fixed center center;
    background-size: cover;
    padding: 120px 0;
    background-position: 0 0px;
}
.greenport {
    background: url('../img/gp2.png') fixed center center;
    background-size: cover;
    padding: 120px 0;
    background-position: 0 0px;
}
/*end andre*/
.report-investor .btn-pdf {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin: 0 5px;
    align-items: center;
}

.box-report-investor {
    position: relative;
}

.box-report-investor .report-investor {
    width: 125px;
    margin-right: 40px;
}
.box-report-investor .slick-arrow {
    position: absolute;
    top: 100%;
    left: 0;
}

.box-report-investor .slick-next {
    left: 25px;
}

.box-report-investor .report-investor img {
    box-shadow: none;
}

.box-report-investor .report-investor img:hover {
    box-shadow: none;
}

.report-investor {
    margin-bottom: 24px;
}

.report-investor img {
    box-shadow: 2px 5px 10px #cccccc;
}

.report-investor img:hover {
    box-shadow: 5px 10px 20px #a5a5a5;
}

.report-investor .preview-pdf {
    background: #1268b3;
}
.report-investor .zoom-pdf {
    background: rgba(158, 210, 255, 0.5);
}
.report-investor .download-pdf {
    background: #f47920;
}

.investor .section-title {
    color: #1268b3;
}

.investor h3,
.investor p {
    color: #1e1e24;
}

@media (max-width: 1024px) {
    .investor {
        background-attachment: scroll;
    }
}

/*--------------------------------------------------------------
  # News
  --------------------------------------------------------------*/
.news {
    position: relative;
}

.news-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/bg-news.png);
    background-size: cover;
    background-repeat: no-repeat;
    bottom: -300px;
}

.news .row {
    padding-top: 20px;
}

.news .box {
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
    background: #fff;
    height: 100%;
    border-radius: 8px;
    margin: 0 10px;
    padding: 0;
}

.categories-news li {
    border-radius: 18px;
    color: #fff;
    font-size: 13px;
    background-color: #9ed2ff;
    margin-right: 12px;
    padding: 8px 16px;
    cursor: pointer;
}

.categories-news li.active {
    background-color: #1268b3;
}

.news .box:hover {
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.4);
}

.news .box .box-image img {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.news .box .content {
    padding: 24px;
    margin-top: 24px;
    background-image: url(../img/acsent-card-news.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.news .box .content .tag {
    background: #1268b3;
    padding: 4px 8px;
    font-size: 12px;
    color: white;
}
.news .box .content .date {
    color: #1268b3;
    font-size: 12px;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
.breadcrumbs {
    padding: 15px 0;
    background: #f3f5fa;
    min-height: 40px;
    margin-top: 72px;
}

@media (max-width: 992px) {
    .breadcrumbs {
        margin-top: 68px;
    }
}

.breadcrumbs h2 {
    font-size: 28px;
    font-weight: 600;
    color: #1268b3;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li + li {
    padding-left: 10px;
}

.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #4668a2;
    content: '/';
}

.box-caption-banner h3 {
    font-size: 30px;
    font-weight: normal;
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
#footer {
    font-size: 14px;
    background: #1268b3;
    border-top: 1px solid white;
}

#footer .footer-top {
    padding: 50px 0 30px 0;
    background: #1268b3;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: 'Jost', sans-serif;
    color: #fff;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #fff;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #fff;
}

#footer .footer-top .social-links {
    margin-top: 60px !important;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #fff;
    color: #1268b3;
    line-height: 1;
    padding: 6px 0;
    margin-right: 34px;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    transition: 0.3s;
    position: relative;
}

.social-links .tooltip-custom {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 11px;
    display: block;
    min-width: 100px;
    background: #f47920;
    padding: 5px;
    border-radius: 4px;
    top: -33px;
    left: 10px;
    display: none;
}

.social-links .tooltip-custom::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 88%;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f47920;
    clear: both;
}

#footer .footer-top .social-links a:hover {
    background: #f47920;
    color: #fff;
    text-decoration: none;
}

#footer .footer-top .social-links a:hover .tooltip-custom {
    display: block;
}

#footer .footer-bottom {
    padding: 10px 0;
    color: #fff;
    border-top: 1px solid white;
}

@media (max-width: 768px) {
    #footer .footer-bottom {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #footer .copyright,
    #footer .credits {
        text-align: center;
        float: none;
    }

    #footer .credits {
        padding-top: 4px;
    }
}

/*--------------------------------------------------------------
  # Page About
  --------------------------------------------------------------*/

.linked-section {
    background-color: #1268b3;
    color: white;
}

.linked-section a {
    color: white;
}

.general-menu-banner {
    list-style: none;
    width: 210px;
    padding: 0;
}

.general-menu-banner li {
    color: white;
    padding: 12px 6px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 13px;
    display: flex;
}

.general-menu-banner li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.general-menu-banner li span {
    display: block;
    min-width: 150px;
}

.general-menu-banner li i {
    color: #42a7ff;
}

.general-menu-banner li:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.about-culture {
    list-style: none;
    padding: 0;
}

.about-culture li {
    padding-top: 10px;
    width: 233px;
    float: left;
    margin-right: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 43px;
}

.about-culture li h3 {
    font-weight: 600;
}

.about-culture h3 {
    color: #74f7ff;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    padding-right: 70px;
}

.accordion {
    display: flex;
    font-size: 32px;
    color: #1268b3;
    font-weight: 100;
    border: none;
    background: none;
    width: 250px;
    text-align: left;
    margin-right: 43px;
    float: left;
}

.accordion:after {
    /* Unicode character for "plus" sign (+) */
    content: '+';
    font-size: 40px;
    position: absolute;
    right: 0;
    font-weight: 100;
    top: 0;
    color: #787878;
}
.accordion span {
    color: #f47920;
    font-size: 12px;
}

.accordion-contianer .active:after {
    /* Unicode character for "minus" sign (-) */
    content: 'x';
}

.accordion-contianer:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.accordion-contianer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    min-height: 150px;
    position: relative;
}

.miscellaneous .slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    background: white;
    left: 0;
    width: 113px;
    height: 1px;
    content: '';
    text-align: center;
    color: black;
    opacity: 1 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.miscellaneous .slick-dots {
    bottom: -50px;
}
.miscellaneous .slick-dots li {
    width: 100px;
    margin: 0 10px;
}
.miscellaneous .slick-dots li.slick-active button:before {
    opacity: 0.25;
    color: black;
}
.miscellaneous .slick-dots li.slick-active button:after {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    opacity: 1;
    background: #f47920;
    left: 0;
    width: 113px;
    height: 1px;
    content: '';
    text-align: center;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 9999999999999;

    animation-name: progress;
    animation-timing-function: linear;
    animation-duration: 4000ms;
    animation-delay: 0;
}

@keyframes progress {
    from {
        width: 0px;
    }
    to {
        width: 113px;
    }
}

/* directors profile */
.view-profile .card-employee {
    zoom: 1.7;
    position: absolute;
    bottom: 0;
    margin: 0;
    margin-left: 50px;
}

.card-employee {
    text-align: center;
    cursor: pointer;
    width: 336px;
    position: relative;
    margin-bottom: 24px;
    margin-right: 12px;
}

.card-employee img {
    position: relative;
    z-index: 1;
    transition: all 0.4s ease-out;
}

.card-employee-bg {
    background-image: url('../img/orange-circle.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 336px;
    height: 336px;
    position: absolute;
    top: 0;
    top: 0;
    left: 0;
    right: 0;
}

.card-employee:hover .card-employee-bg {
    -webkit-transform: rotate(360deg);
    -webkit-transition-duration: 2s;
    transform-origin: center center;
}

.card-employee:hover img {
    -webkit-filter: drop-shadow(20px 20px 20px rgba(8, 46, 80, 0.5));
    filter: drop-shadow(20px 20px 20px rgba(8, 46, 80, 0.5));
    transition: all 0.4s ease-out;
}

.card-employee .caption {
    background: #f47920;
    padding: 16px;
    width: 75%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.card-employee .caption p {
    font-size: 16px;
    color: white;
    margin-bottom: 8px;
}

.card-employee .caption label {
    font-weight: 700;
    color: white;
    font-size: 12px;
    padding-bottom: 7px;
    border-bottom: 1px solid white;
}

.zoom-control {
    position: absolute;
    right: 24px;
    bottom: 4px;
    width: 40px;
}

.zoom-control button {
    width: 40px;
    height: 40px;
    background: #1268b3;
    border-radius: 2px;
    color: white;
    border: none;
    margin-bottom: 8px;
}

.structure-org h3 {
    color: #1268b3;
}
.blue {
    background-color: #f5fbff;
}

/* highcharts */

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

.highchart-container {
    height: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/* prospektus */
.box-card-prospektus {
    padding: 0;
}
.box-card-prospektus li {
    padding: 12px;
    box-shadow: 0px 0px 21px #bababa;
}

.ui-card-slider {
    position: relative;
    width: 100%;
    height: 350px;
    margin: 50px auto;
    overflow: hidden;
    padding: 0;
    background-image: url('../img/geoprod.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
}
.ui-card-slider .slide {
    display: block;
    -webkit-user-select: none;
    position: absolute;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: all;
    -webkit-transition-property: all;
    overflow: hidden;
}
.ui-card-slider .slide img {
    width: 100%;
    height: 100%;
}
.ui-card-slider .center-slide {
    -webkit-user-select: none;
    z-index: 1;
    left: 40%;
    width: 226px;
    height: auto;
    top: 30px;
}
.ui-card-slider .left-slide {
    -webkit-user-select: none;
    z-index: 2;
    left: 0;
    width: 106px;
    height: auto;
}
.ui-card-slider .right-slide {
    -webkit-user-select: none;
    z-index: 2;
    left: 90%;
    width: 106px;
    height: auto;
}
.ui-card-slider .left-hidden-slide {
    z-index: 1;
    left: -106px;
    width: 106px;
    height: auto;
}
.ui-card-slider .right-hidden-slide {
    z-index: 1;
    left: 100%;
    width: 106px;
    height: auto;
}
.ui-card-slider .hidden-slide {
    visibility: hidden;
    display: none;
}
.main-menu-mobile {
    display: none;
}
.is_mobile {
    display: none;
}
.header-menu-mobile {
    padding: 0 31px;
    margin-bottom: 20px;
}
.form-search-mobile {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 7px;
}
.form-search-mobile input {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
}
.form-search-mobile input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}
.form-search-mobile i {
    margin-right: 7px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* temporary */
    .info-product-numb {
        margin-top: 100%;
        padding-top: 20px;
    }
    .box-of-product {
        margin-top: 0;
    }
    .box-of-product .img-circle {
        width: 100%;
    }
    .box-circle-product .info-product-1,
    .box-circle-product .info-product-2,
    .box-circle-product .info-product-3 {
        position: relative;
        right: auto;
        top: auto;
        left: auto;
    }
    .box-circle-product img {
        top: auto;
        left: 0;
        right: 0;
        width: 200px;
    }
    #hero .carousel-item img {
        width: auto !important;
    }
    .sidebar-navigation .offcanvas-body {
        margin-top: -17px;
    }
    .sidebar-navigation .ri-close-line {
        top: 12px;
        position: relative;
    }
    .is_mobile {
        display: block;
    }
    .sidebar-navigation ul li {
        margin-bottom: 15px;
    }
    .sidebar-navigation .offcanvas-body {
        padding: 0;
    }
    .main-menu-mobile li {
        font-size: 20px;
        font-weight: 700;
    }
    .main-menu-mobile li.sub-menu ul li {
        font-size: 17px;
        max-width: 250px;
    }
    .main-menu-mobile li.sub-menu ul li.sub-menu ul li {
        font-size: 14px;
    }
    .secondary-menu {
        background-color: #4e9fe7;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .secondary-menu li a {
        font-size: 16px;
    }
    .main-menu-mobile {
        display: block;
    }
    .offcanvas {
        width: 100% !important;
    }
    .box-book-investor {
        width: 100px;
    }
    #about img {
        width: 100%;
    }
    .shorcut-menu {
        width: 300px;
    }
    .shorcut-menu .link li,
    .shorcut-menu .info li {
        font-size: 13px;
    }
    .box-shorcut-menu {
        right: 15px;
        top: 40%;
    }
    .accordion {
        font-size: 20px;
    }
    .profil-bisnis {
        padding: 20px 0;
    }
    section {
        padding: 30px 0;
    }
    #header .logo img {
        width: 135px;
    }
    #header .logo {
        margin-top: 16px;
    }
    #header {
        background-color: white;
        height: 74px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
            0 6px 6px rgba(0, 0, 0, 0.23);
        position: fixed;
    }
    .large-logo {
        display: block;
    }
    .small-logo {
        display: none;
    }
    .linked-section a {
        font-size: 14px;
    }
    #footer .footer-top .social-links {
        margin-top: 30px !important;
    }
    .linked-section {
        padding: 20px;
    }
    .footer-top {
        padding: 0 !important;
        margin: 0 20px;
    }
    .content {
        padding: 25px;
    }
    #footer {
        padding-bottom: 0;
        padding-top: 20px;
    }
    #floating-menu-home,
    #floating-menu-general {
        display: none !important;
    }
    .cl {
        height: auto;
    }
    .miscellaneous .slick-dots {
        display: none !important;
    }
    .miscellaneous .slick-slide:not(.slick-active) .cl img {
        height: auto;
    }
    .categories-news {
        display: block !important;
    }
    .categories-news li {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 6px;
    }
    .carousel-item .carousel-caption {
        right: 0;
        left: 0;
        width: 80% !important;
        margin: 0 auto;
    }
    .carousel-item .carousel-caption h1 {
        font-size: 24px !important;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
