<section class="product">
    <div class="container" data-aos="fade-up">
        <div class="row content">
            <div class="col-lg-3">
                <p class="section-title">FAQ</p>
            </div>
            <div class="col-lg-9 pt-4 pt-lg-0">
                <div class="item-faq mb-4 border-bottom border-white pb-4" style="--bs-border-opacity: .3;">
                    <h3 class="fs-4 fw-bold mb-4">Bagaimana mendapatkan informasi-informasi dvan data perusahaan?</h3>
                    <p class="fs-6 fw-lighter lh-md">
                        Data dan informasi Perusahaan telah tersedia di Annual Report (laporan Tahzzzunan)
                        PT Pupuk Kaltim dan dapat mengakses website PKT klik " Annual Report PT Pupuk Kaltim ".
                    </p>
                </div>
                <div class="item-faq mb-4 border-bottom border-white pb-4" style="--bs-border-opacity: .3;">
                    <h3 class="fs-4 fw-bold mb-4">Bagaimana mengajukan program Praktek Kerja Lapangan (PKL) ?</h3>
                    <p class="fs-6 fw-lighter lh-md">
                        Berkas/surat mengajukan program Praktek Kerja Lapangan (PKL), dikirimkan dengan alamat:
                        <br />
                        PT Pupuk Kalimantan Timur.
                        <br />
                        Jl. James Simandjuntak No.1 Bontang 75313 - Kalimantan Timur
                        <br />
                        Up : Manajer Diklat dan Manajemen Pengetahuan
                    <ul>
                        <li>Pengajuan program Praktek Kerja Lapangan harus diajukan 1 (satu) tahun sebelumnya.</li>
                        <li>Dalam jangka waktu 6 (enam) bulan tidak ada panggilan terhadap pengajuan berkas/surat, maka
                            dianggap perusahaan belum membuka program Praktek Kerja Lapangan (PKL).</li>
                    </ul>
                    </p>
                </div>
                <div class="item-faq mb-4 border-bottom border-white pb-4" style="--bs-border-opacity: .3;">
                    <h3 class="fs-4 fw-bold mb-4">Bagaimana cara mengajukan lamaran kerja ?</h3>
                    <p class="fs-6 fw-lighter lh-md">
                        Berkas/surat mengajukan program Praktek Kerja Lapangan (PKL), dikirimkan dengan alamat:
                        <br />
                        PT Pupuk Kalimantan Timur.
                        <br />
                        Jl. James Simandjuntak No.1 Bontang 75313 - Kalimantan Timur
                        <br />
                        Up : Manajer Diklat dan Manajemen Pengetahuan
                    <ul>
                        <li>Biodata/Berkas lamaran yang dikirim kepada kami telah masuk dalam data perusahaan.</li>
                        <li>Apabila dalam jangka waktu 6(enam) bulan tidak ada panggilan kerja terhadap lamaran kerja,
                            maka perusahaan belum membuka lowongan kerja saat ini.</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container" data-aos="fade-up">
        <div class="row content">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-9 pt-4 pt-lg-0">
                <div class="item-faq mb-4 border-bottom border-warning pb-4">
                    <h3 class="fs-4 fw-bold mb-4">Bagaimana cara mendapatkan informasi hasil seleksi test atau panggilan
                        kerja bagi calon karyawan?</h3>
                    <p class="fs-6 fw-lighter lh-md">
                        Informasi hasil seleksi atau panggilan kerja calon karyawan dapat di akses pada website PKT atau
                        menghubungi langsung dengan:
                        <br />
                        <br />
                        Departemen Kesejahteraan dan Hubungan Industrial PT Pupuk Kalimantan Timur
                        Jl. James Simandjuntak No. 1 Bontang.
                    </p>
                </div>
                <div class="item-faq mb-4 border-bottom border-warning pb-4">
                    <h3 class="fs-4 fw-bold mb-4">Bagaimana cara menjadi rekanan perusahaan?</h3>
                    <p class="fs-6 fw-lighter lh-md">
                        Proposal/berkas perusahaan dikirimkan dengan alamat :
                        <br />
                        <br />
                        PT Pupuk Kalimantan Timur.
                        <br />
                        Jl. James Simandjuntak No.1 Bontang 75313 - Kalimantan Timur
                        <br />
                        Up : Manajer Pengadaan Barang dan Bahan Baku (untuk pengadaan barang) atau
                        Manajer Pengadaan Jasa (untuk pengadaan jasa)
                        <br />
                        <br />
                        atau silahkan mengakses website PKT klik "e-procurement"
                    </p>
                </div>
                <div class="item-faq mb-4 border-bottom border-warning pb-4">
                    <h3 class="fs-4 fw-bold mb-4">Bagaimana cara mengajukan proposal bantuan/sponsorship ?</h3>
                    <p class="fs-6 fw-lighter lh-md">
                        Pengajuan proposal /sponsorship, dikirimkan dengan alamat :
                        <br />
                        <br />
                        PT Pupuk Kalimantan Timur.
                        <br />
                        Jl. James Simandjuntak No.1 Bontang 75313 - Kalimantan Timur
                        <br />
                        Up : Departemen Humas
                        <br />
                        <br />
                        Apabila dalam jangka 30 (tigapuluh) hari belum ada tanggapan/jawaban tertulis dari perusahaan,
                        maka perusahaan belum memberikan bantuan/sponsorship untuk saat ini.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
