<footer id="footer">
  <div class="footer-top" style="padding-bottom:0px !important;">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-links">
          <img src="../../public/assets/files/img/logo-white.png" width="225" alt="..." />
          <div class="social-links mt-2 d-flex">
            <a href="#" class="twitter"><i class="ri-twitter-fill"></i><span
                class="tooltip-custom">@pupukkaltim_id</span></a>
            <a href="#" class="facebook"><i class="ri-facebook-circle-fill"></i><span class="tooltip-custom">PT Pupuk
                Kaltim</span></a>
            <a href="#" class="instagram"><i class="ri-instagram-fill"></i><span
                class="tooltip-custom">pupukkaltim_id</span></a>
            <a href="#" class="linkedin"><i class="ri-youtube-fill"></i><span class="tooltip-custom">PUPUK
                KALTIM</span></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 footer-contact">
          <p class="mb-2">KANTOR PUSAT</p>
          <p class="fs-6">
            Jl. James Simandjuntak No. 1 Bontang 75313 Kalimantan Timur, Indonesia<br />
            Telepon: +62 548 41202, 41203<br />
            Fax: +62 548 41616, 41626
          </p>
        </div>

        <div class="col-lg-4 col-md-6 footer-contact">
          <p class="mb-2">KANTOR PERWAKILAN</p>
          <p class="fs-6">
            Plaza Pupuk Kaltim Jl. Kebon Sirih Raya No.6A Jakarta Pusat 10110<br />
            Telepon: +62 21 3443344, 45<br />
            Fax: +62 21 3443444
          </p>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-middle text-center blue">
    <div class="container">
      <div class="row">
        <div class="mt-2 col-lg-3 col-md-6">
          <a href="https://bumn.go.id" target="_blank">
            <img src="../../public/assets/files/img/logo-bumn.png" style="width:50%;" />
          </a>
        </div>
        <div class="mt-2 col-lg-3 col-md-6">
          <a href="https://www.pupuk-indonesia.com" target="_blank">
            <img src="../../public/assets/files/img/logo-pi.png" style="width:50%;" />
          </a>
        </div>
        <div class="mt-2 col-lg-3 col-md-6">
          <a href="https://elhkpn.kpk.go.id/portal/user/pengumuman_lhkpn/VERWVFpGZHhlVU5TUml0VVJGbDBZMlJOTmt4NVYzbHJkR3hRVnpkR2FURjJWM2NyZDJWWE1WQm5Oa3hIVjI1eGNERkNhRWRDY1ZkcFlsb3pPVzR6T1E9PQ=="
            target="_blank">
            <img src="../../public/assets/files/img/logo-elhkpn.png" style="width:50%;" />
          </a>
        </div>
        <div class="mt-2 col-lg-3 col-md-6">
          <a href="https://covid19.go.id" target="_blank">
            <img src="../../public/assets/files/img/logo-covid.png" style="width:50%;" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom clearfix text-center">
    ©2022 PT Pupuk Kalimantan Timur (PKT)<br />Beta Version
  </div>
</footer>