<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row content">
      <div class="col-lg-8">
        <p class="section-title">TENTANG PERUSAHAAN</p>
        <h3 class="fs-2 fw-lighter mb-5 w-75">
          Pupuk Kaltim adalah Produsen Pupuk Urea terbesar di Indonesia, Hadir Dalam Semangat Pionir, Kuat Ditempa
          Tantangan, dan Maju dengan Karya Bermutu.
        </h3>
        <p class="mt-4 fs-6 opacity-50 w-75">PT Pupuk Kalimantan Timur (PKT) adalah salah satu produsen pupuk urea dan
          NPK terbesar di Asia yang didirikan pada tanggal 7 Desember 1977. Berawal dari fasilitas pabrik pupuk terapung
          yang dikelola oleh Pertamina, kemudian berdasarkan Keputusan Presiden No. 43 tahun 1975 dan Keputusan Presiden
          No. 39 tahun 1976 pengelolaannya diserahkan kepada Departemen Perindustrian. Pada Tahun 2012 PKT menjadi anak
          perusahaan PT Pupuk Indonesia (Persero).</p>
        <a href="#"><button type="button" class="btn btn-primary btn-animate mt-4">Selengkapnya</button></a>
      </div>
      <div class="col-lg-4 pt-4 pt-lg-0">
        <img src="../../public/assets/files/img/about.png" alt="..." />
      </div>
    </div>
  </div>
</section>