<section id="certificate" class="certificate">
  <div class="container" data-aos="fade-up">
    <div class="row content">
      <div class="col-lg-7 desc-cert">
        <p class="section-title">SERTIFIKAT & PENGHARGAAN</p>
        <p class="mt-4 fs-6 w-75 mb-5">
          Melalui kolaborasi dan inovasi, Pupuk Kaltim telah meraih berbagai penghargaan dari tingkat nasional hingga internasional dan siap menjadi Perusahaan Agrokimia, Petrokimia kelas dunia yang berdaya saing tinggi dan berkelanjutan untuk menyongsong masa depan baru.
        </p>
        <img class="w-50 as-it-is" id="current-cert" src="../../public/assets/files/img/award2022.png" width="200" alt="..." />
      </div>
      <div class="col-lg-5 pt-4 pt-lg-0 as-it-is">
        <ul class="list-certificate">
          <li class="d-flex active">
            <img class="d-none" src="../../public/assets/files/img/award2022.png" alt="..." />
            <span class="fs-6 me-3">2022</span>
            <div>
              <p class="fs-6 m-0 mb-1">Server Mang Budi</p>
              <small>Server Mang Budi merupakan program pemberdayaan masyarakat berbasis konservasi mangrove di sekitar Perusahaan, yang diinisiasi sejak 2017.</small>
            </div>
          </li>
          <li class="d-flex">
            <img class="d-none" src="../../public/assets/files/img/award2021.png" alt="..." />
            <span class="fs-6 me-3">2021</span>
            <div>
              <p class="fs-6 m-0 mb-1">Sertifikat ISO 50001:2011</p>
              <small>Sertifikat ISO 50001:2011 untuk Pabrik 4 Pupuk Kaltim pada 27 Desember 2019 yang dikeluarkan oleh SUCOVINDO INTERNATIONAL.</small>
            </div>
          </li>
          <li class="d-flex">
            <img class="d-none" src="../../public/assets/files/img/award2020.png" alt="..." />
            <span class="fs-6 me-3">2020</span>
            <div>
              <p class="fs-6 m-0 mb-1">Proper Nasional Peringkat Emas</p>
              <small>Pupuk Kaltim kembali mempertahankan Proper Nasional Peringkat Emas ke 4 kalinya dari Kementerian Lingkungan Hidup dan Kehutanan (KLHK), atas komitmen tata kelola lingkungan dan pemberdayaan masyarakat secara berkesinambungan.</small>
            </div>
          </li>
        </ul>
        <div class="text-center">
          <a href="#"><button type="button" class="btn btn-primary btn-animate mt-4">Selengkapnya</button></a>
        </div>
      </div>
    </div>
  </div>
</section>