<section id="product" class="product">
  <div class="container " data-aos="fade-up">
    <div class="row content">
      <div class="col-lg-7">
        <p class="section-title">TENTANG PRODUK</p>
        <h3 class="fs-3 fw-lighter">
          Produk pupuk majemuk NPK dari Pupuk Kaltim terdiri dari dua jenis, yaitu NPK Simple blending dan NPK Fusion.
        </h3>
        <div class="list-product">
          <x-button id="urea-link" class="active">
            <h3>Urea</h3>
            <p>Pupuk urea, disebut juga pupuk nitrogen (N), yang terbuat dari reaksi amoniak dengan karbon dioksida
              dalam suatu proses kimia menjadi urea padat.</p>
            </x-button>
          <x-button id="amoniak-link">
            <h3 class="">Amoniak</h3>
            <p class="">Amoniak digunakan sebagai bahan mentah dalam industri kimia. Amoniak produksi Pupuk Kaltim dipasarkan
              dalam bentuk cair pada suhu -33 derajat Celsius.</p>
            </x-button>
          <x-button id="npk-link">
            <h3>NPK</h3>
            <p>Produk pupuk majemuk NPK dari Pupuk Kaltim terdiri dari dua jenis, yaitu NPK Simple blending dan NPK
              Fusion.</p>
            </x-button>
        </div>
      </div>
      <div class="col-lg-5 pt-4 pt-lg-0">
        <div class="box-of-product">
          <img class="img-circle" width="600" src="../../public/assets/files/img/circle.png" alt="..." />
          <div id="page-product">
            <div id="urea" class="box-circle-product">
              <img width="240" src="../../public/assets/files/img/urea.png" alt="..." />
              <div class="info-product-numb">
                <div class="info-product-1">
                  <h4>3,43 Juta Ton</h4>
                  <p>Produksi pertahun</p>
                </div>
                <div class="info-product-2">
                  <h4>46%</h4>
                  <p>Kandungan Nitrogen</p>
                </div>
                <div class="info-product-3">
                  <h4>5 Pabrik</h4>
                  <p>Produksi</p>
                </div>
              </div>
            </div>
            <div id="amoniak" class="box-circle-product hide">
              <img width="240" src="../../public/assets/files/img/amoniak.jpg" alt="..." />
              <div class="info-product-numb">
                <div class="info-product-1">
                  <h4>2,74 Juta Ton</h4>
                  <p>Produksi pertahun</p>
                </div>
                <div class="info-product-2">
                  <h4>100%</h4>
                  <p>Gas Bumi</p>
                </div>
                <div class="info-product-3">
                  <h4>5 Pabrik</h4>
                  <p>Produksi</p>
                </div>
              </div>
            </div>
            <div id="npk" class="box-circle-product hide">
              <img width="240" src="../../public/assets/files/img/npk.png" alt="..." />
              <div class="info-product-numb">
                <div class="info-product-1">
                  <h4>350 Ribu Ton</h4>
                  <p>Produksi pertahun</p>
                </div>
                <div class="info-product-2">
                  <h4>2 Jenis NPK</h4>
                  <p>Blending & Fusion</p>
                </div>
                <div class="info-product-3">
                  <h4>2 Pabrik</h4>
                  <p>Produksi</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gradient-blue"></div>
  <div class="bg-product"></div>
</section>