
<section id="keuangan" class="bg-blue-opacity">
  <div class="container" data-aos="fade-up">
    <div class="row content">
      <div class="col-lg-3">
        <p class="section-title">LAPORAN KEUANGAN</p>
      </div>
      <div class="col-lg-9 pt-4 pt-lg-0">
        <p class="fs-6 fw-lighter lh-lg">
          Laporan keuangan adalah catatan informasi keuangan dari perusahaan yang dapat digunakan untuk menggambarkan kinerja keuangan tiap periode.
          <br />
          <br />
        </p>
        <!--MODULE-LAPORAN-KEUANGAN-->
        <div class="box-report-investor as-is-it">
          <div class="report-investor text-center">
            <img class="border-dark w-100" src="../../public/assets/files/img/fr2021.jpg" alt="..." />
            <p class="fs-5 my-2">2021</p>
            <div class="d-flex justify-content-center">
              <div class="zoom-pdf btn-pdf">
                <a href="#" target="_blank">
                  <i class="ri-zoom-in-line text-white"></i>
                </a>
              </div>
              <div class="download-pdf btn-pdf">
                <a href="#">
                  <i class="ri-file-download-line text-white"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="report-investor text-center">
            <img class="border-dark w-100" src="../../public/assets/files/img/fr1.jpeg" alt="..." />
            <p class="fs-5 my-2">2020</p>
            <div class="d-flex justify-content-center">
              <div class="zoom-pdf btn-pdf">
                <a href="#" target="_blank">
                  <i class="ri-zoom-in-line text-white"></i>
                </a>
              </div>
              <div class="download-pdf btn-pdf">
                <a href="#">
                  <i class="ri-file-download-line text-white"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="report-investor text-center">
            <img class="border-dark w-100" src="../../public/assets/files/img/fr2.jpeg" alt="..." />
            <p class="fs-5 my-2">2019</p>
            <div class="d-flex justify-content-center">
              <div class="zoom-pdf btn-pdf">
                <a href="#" target="_blank">
                  <i class="ri-zoom-in-line text-white"></i>
                </a>
              </div>
              <div class="download-pdf btn-pdf">
                <a href="#">
                  <i class="ri-file-download-line text-white"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="report-investor text-center">
            <img class="border-dark w-100" src="../../public/assets/files/img/fr3.jpeg" alt="..." />
            <p class="fs-5 my-2">2018</p>
            <div class="d-flex justify-content-center">
              <div class="zoom-pdf btn-pdf">
                <a href="#" target="_blank">
                  <i class="ri-zoom-in-line text-white"></i>
                </a>
              </div>
              <div class="download-pdf btn-pdf">
                <a href="#">
                  <i class="ri-file-download-line text-white"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="report-investor text-center">
            <img class="border-dark w-100" src="../../public/assets/files/img/fr2017.jpg" alt="..." />
            <p class="fs-5 my-2">2017</p>
            <div class="d-flex justify-content-center">
              <div class="zoom-pdf btn-pdf">
                <a href="#" target="_blank">
                  <i class="ri-zoom-in-line text-white"></i>
                </a>
              </div>
              <div class="download-pdf btn-pdf">
                <a href="#">
                  <i class="ri-file-download-line text-white"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="report-investor text-center">
            <img class="border-dark w-100" src="../../public/assets/files/img/fr4.jpg" alt="..." />
            <p class="fs-5 my-2">2016</p>
            <div class="d-flex justify-content-center">
              <div class="zoom-pdf btn-pdf">
                <a href="#" target="_blank">
                  <i class="ri-zoom-in-line text-white"></i>
                </a>
              </div>
              <div class="download-pdf btn-pdf">
                <a href="#">
                  <i class="ri-file-download-line text-white"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="report-investor text-center">
            <img class="border-dark w-100" src="../../public/assets/files/img/fr4.jpg" alt="..." />
            <p class="fs-5 my-2">2015</p>
            <div class="d-flex justify-content-center">
              <div class="zoom-pdf btn-pdf">
                <a href="#" target="_blank">
                  <i class="ri-zoom-in-line text-white"></i>
                </a>
              </div>
              <div class="download-pdf btn-pdf">
                <a href="#">
                  <i class="ri-file-download-line text-white"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--/MODULE-LAPORAN-KEUANGAN-->
      </div>
    </div>
  </div>
</section>