<section id="penerapan" class="product">
        <div class="container" data-aos="fade-up">
          <div class="row content">
            <div class="col-lg-3">
              <p class="section-title">PENERAPAN</p>
            </div>
            <div class="col-lg-9 pt-4 pt-lg-0">
                <h3 class="fs-3 fw-bold mb-4">Penerapan GCG</h3>
                <p class="fs-6 fw-lighter lh-md mb-4">
                    Penerapan Tata Kelola Perusahaan Yang Baik (GCG) merupakan wujud kepatuhan Pupuk Kaltim terhadap Surat Edaran PT Pupuk Indonesia (Persero) sebagai Pemegang Sahan Pupuk Kaltim nomor SE-08/XI/2012 tanggal 27 November 2012 tentang Penerapan Tata Kelola Perusahaan Yang Baik (Good Corporate Governance) pada Anak Perusahaan PT Pupuk Indonesia (Persero)
                    Penerapan Tata Kelola Perusahaan yang baik di lingkungan Pupuk Kaltim bertujuan untuk:
                </p>
                <ol class="fs-6 fw-lighter lh-md mb-4">
                    <li>Mengoptimalkan nilai Perseroan agar perusahaan memiliki daya saing yang kuat, baik secara nasional maupun internasional, sehingga mampu mempertahankan keberadaannya dan hidup berkelanjutan untuk mencapai maksud dan tujuan Perseroan.</li>
                    <li>Mendorong pengelolaan Perseroan secara profesional, efisien, dan efektif, serta memberdayakan fungsi dan meningkatkan kemandirian Organ Perseroan.</li>
                    <li>Mendorong agar Organ Perseroan dalam membuat keputusan dan menjalankan tindakan dilandasi nilai moral yang tinggi dan kepatuhan terhadap peraturan perundang-undangan, serta kesadaran akan adanya tanggungjawab sosial Perseroan terhadap Pemangku Kepentingan maupun kelestarian lingkungan di sekitar.</li>
                    <li>Meningkatkan kontribusi Perseroan dalam perekonomian nasional</li>
                    <li>Meningkatkan iklim yang kondusif bagi perkembangan investasi nasional.</li>
                </ol>
            </div>
          </div>
        </div>
      </section>