<section id="komitmen">
        <div class="container" data-aos="fade-up">
          <div class="row content">
            <div class="col-lg-3">
              <p class="section-title">KOMITMEN</p>
            </div>
            <div class="col-lg-9 pt-4 pt-lg-0">
                <h3 class="fs-3 fw-bold mb-4">Komitmen Tata Kelola Perusahaan</h3>
                <p class="fs-6 fw-lighter lh-md mb-4">
                    Pupuk Kaltim memiliki komitmen untuk menerapkan GCG dengan menerbitkannya Surat Keputusan Direksi No. 13/DIR/III.2012 mengenai penyempurnaan Struktur Organisasi Pupuk Kaltim dengan dibentuknya Unit Kerja Departemen Kepatuhan dan Manajemen Risiko sebagai unit kerja pengelola GCG yaitu Kepatuhan dan Manajemen Risiko.
                    <br />
                    <br />
                    Berdasarkan arahan Pemegang Saham sesuai surat No. U-1283/A00000.UM/2014 tanggal 5 September 2014 tentang Kebijakan Standarisasi Unit Kerja bidang Tata Kelola Perusahaan dan Manajemen Risiko, maka pada tanggal 8 Desember 2014 ditetapkan Surat Keputusan Direksi No. 50/DIR/X.2014 yang berlaku sejak tanggal 1 Oktober 2014 tentang Penyempurnaan Surat Keputusan Direksi Tentang Struktur Organisasi PT Pupuk Kalimantan Timur, Departemen Kepatuhan dan Manajemen Risiko berubah nama menjadi Departemen Tata Kelola Perusahaan dan Manajemen Risiko.
                    <br />
                    <br />
                   Dalam pelaksanaan penerapan GCG, maka Pupuk Kaltim telah menerbitkan Surat Keputusan Direksi (SKD) PT Pupuk Kaltim Nomor: 40/DIR/VII.2013 tanggal 8 Juli 2013 tentang Penerapan Tata Kelola Perusahaaan yang Baik (Good Corporate Governance) PT Pupuk Kaltim yang merupakan penyempurnaan SKD No. 4/DIR/II. 2010 tentang Penyempurnaan Kode Etik PT Pupuk Kalimantan Timur, yaitu:
                </p>
                <ul class="fs-6 fw-lighter lh-md mb-4">
                    <li>Menetapkan dan memberlakukan "Pedoman Tata Kelola Perusahaan Yang Baik (Code Of Good Corporate Governance) PT Pupuk Kalimantan Timur", sebagaimana Lampiran I Surat Keputusan Direksi ini, sebagai acuan utama bagi penerapan Tata Kelola Perusahaan Yang Baik (Good Corporate Governance) di PT Pupuk Kalimantan Timur.Selanjutnya, dalam Keputusan ini disebut "Pedoman GCG PKT",</li>
                    <li>Menetapkan dan memberlakukan "Pedoman Dewan Komisaris dan Direksi (Board Manual) PT Pupuk Kalimantan Timur", sebagaimana Lampiran II, sebagai acuan utama bagi pedoman mengenai komitmen tata kelola hubungan antara Dewan Komisaris dan Direksi di PT Pupuk Kalimantan Timur.</li>
                    <li>Semua transaksi penting yang memerlukan persetujuan PemegangSaham telah dilaksanakan sesuai ketentuan. Pemegang Saham telahmemberikan arahan kepada Direksi untuk melakukan berbagaiterobosan dalam merespon kondisi pasar.</li>
                    <li>Dewan Komisaris telah memiliki Board Manual yang mengatur fungsi,pembagian tugas dan tanggung jawab.</li>
                    <li>Direksi telah melakukan perubahan struktur organisasi, mengantisipasi perkembangan bisnis dan strategi, menerapkan manajemen risiko,melakukan self assesment risiko dan meningkatkan kapabilitasmanajemen mutu</li>
                    <li>Sekretaris Perusahaan menyampaikan informasi kepada pemangkukepentingan secara berkala, jelas dan akurat, antara lain melaluimedia cetak maupun elektronik.</li>
                    <li>Perusahaan telah membentuk Tim Self Assessment GCG danmelakukan asesmen berdasarkan parameter yang disusun BPKP.</li>
                </ul>
            </div>
          </div>
        </div>
      </section>