<section id="pedoman" class="blue">
        <div class="container" data-aos="fade-up">
          <div class="row content">
            <div class="col-lg-3">
              <p class="section-title">PEDOMAN</p>
            </div>
            <div class="col-lg-9 pt-4 pt-lg-0">
                <h3 class="fs-3 fw-bold mb-4">Pedoman Good Corporate Governance</h3>
                <p class="fs-6 fw-lighter lh-md mb-4">
                    Pedoman Good Corporate Governance(GCG) merupakan dasar bagi Direksi dan Manajemen PT Pupuk Kalimantan Timur untuk mengambil keputusan dan kebijakan sesuai dengan prinsip-prinsip GCG yaitu: transparansi, akuntabilitas, responsibilitas, independensi, dan kewajaran. Pedoman GCG diperlukan agar PT Pupuk Kalimantan Timur dapat bertahan dalam menghadapi persaingan yang semakin ketat, GCG diharapkan dapat menjadi sarana untuk mencapai visi dan misi Perusahaan.
                </p>
                <div class="d-flex mb-4 align-items-center">
                        <div style="margin-right: 20px">
                            <img src="<?php echo $app['css_vendor_www'] ?>/assets/img/pedomangcg.png" alt="..." />
                        </div>
                        <div>
                            <p class="fs-4">Pedoman Tata Kelola Perusahaan</p>
                            <div class="d-flex justify-content-start">
                                <div class="rounded bg-blue preview-pdf btn-pdf text-white text-center mx-2 p-2 d-flex align-items-center justify-content-between btn-animate">
                                    <i class="ri-zoom-in-line text-white"></i>
                                    <a href="<?php echo $app['www'] ?>/<?php echo $app['action']['E_41'] ?>/SAL_SKD Pedoman GCG.pdf/" target="_blank">
                                        <span class="fw-semibold mx-2">Preview</span>
                                    </a>
                                </div>
                                <div class="rounded bg-orange download-pdf btn-pdf text-white text-center mx-2 p-2 d-flex align-items-center btn-animate-org">
                                    <i class="ri-file-download-line text-white"></i>
                                    <a href="<?php echo $app['www'] ?>/<?php echo $app['action']['E_42'] ?>/SAL_SKD Pedoman GCG.pdf/">
                                        <span class="fw-semibold mx-2">Download</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
          </div>
        </div>
      </section>