<section id="pedoman" class="blue">
        <div class="container" data-aos="fade-up">
          <div class="row content">
            <div class="col-lg-3">
              <p class="section-title">PEDOMAN</p>
            </div>
            <div class="col-lg-9 pt-4 pt-lg-0">
                <h3 class="fs-3 fw-bold mb-4">Prinsip Dasar Pengendalian Gratifikasi Pupuk Kaltim</h3>
                <p class="fs-6 fw-lighter lh-md mb-4">
                    <strong>1. Pemberian Hadiah/Cinderamata dan Hiburan</strong>
                    <br />
                    Semua Insan Pupuk Kaltim DILARANG baik secara langsung atau tidak langsung memberi Hadiah/Cinderamata dan atau Hiburan kepada setiap pihak yang memiliki hubungan bisnis atau pesaing Pupuk Kaltim yang bertujuan untuk mendapatkan informasi, atau sesuatu hal yang tidak dibenarkan oleh ketentuan perundangundangan yang berlaku, atau untuk mempengaruhi pihak dimaksud untuk melakukan dan/atau tidak melakukan suatu hal berkaitan dengan kedudukan/jabatannya.
                    <br />
                    <br />
                    <strong>2. Penerimaan Hadiah/Cinderamata dan Hiburan</strong>
                    <br />
                    Semua Insan Pupuk Kaltim yang karena jabatannya dan/atau anggota keluarganya (keluarga inti), DILARANG untuk menerima atau meminta baik secara langsung atau tidak langsung Hadiah/Cinderamata dan atau Hiburan dari setiap pihak yang memiliki hubungan bisnis atau pesaing Pupuk Kaltim, yang bertujuan untuk mendapatkan informasi, atau sesuatu hal yang tidak dibenarkan oleh ketentuan perundang-undangan yang berlaku, atau untuk mempengaruhi pihak dimaksud untuk melakukan dan/atau tidak melakukan suatu hal berkaitan dengan kedudukan/jabatannya.
                    <br />
                    <br />
                    Insan Pupuk Kaltim apabila ditawarkan/diberikan Hadiah/Cinderamata dan/atau Hiburan yang tidak sesuai dengan ketentuan yang diatur dalam Pedoman ini, wajib MELAKUKAN PENOLAKAN dengan cara santun terhadap tawaran/pemberian dimaksud, dengan memberikan penjelasan terhadap kebijakan dan aturan ini kepada Pihak Ketiga.
                </p>
            </div>
          </div>
        </div>
      </section>