<section id="pengendalian">
        <div class="container" data-aos="fade-up">
          <div class="row content">
            <div class="col-lg-3">
              <p class="section-title">PENGENDALIAN</p>
            </div>
            <div class="col-lg-9 pt-4 pt-lg-0">
                <h3 class="fs-3 fw-bold mb-4">Pengendalian Gratifikasi</h3>
                <p class="fs-6 fw-lighter lh-md mb-4">
                    PT Pupuk Kalimantan Timur telah memiliki Pedoman Pengendalian Gratifikasi yang disahkan melalui Surat Keputusan Direksi Nomor: 55/DIR/X.2015 pada tanggal 16 Oktober 2015.
                    <br />
                    <br />
                    SK Direksi tersebut berisikan:
                </p>
                <ol class="fs-6 fw-lighter lh-md mb-4">
                    <li>Pedoman Pengendalian Gratifikasi PT Pupuk Kaltim pada Lampiran</li>
                    <li>Struktur, Tugas dan Kewenangan Unit Pengendali Gratifikasi PT Pupuk Kaltim pada Lampiran II</li>
                    <li>Formulir Pelaporan Pengendalian Gratifikasi PT Pupuk Kaltim pada Lampiran III</li>
                </ol>
                <div class="d-flex mb-4 align-items-center">
                    <div style="margin-right: 20px">
                        <img src="<?php echo $app['css_vendor_www'] ?>/assets/img/thumbnail-grati.png" alt="..." />
                    </div>
                    <div>
                        <p class="fs-4">PEDOMAN PENGENDALIAN GRATIFIKASI</p>
                        <div class="d-flex justify-content-start">
                            <div class="rounded bg-blue preview-pdf btn-pdf text-white text-center mx-2 p-2 d-flex align-items-center justify-content-between btn-animate">
                                    <i class="ri-zoom-in-line text-white"></i>
                                    <a href="<?php echo $app['www'] ?>/<?php echo $app['action']['E_41'] ?>/BukuPedomanGratifikasiPKT.pdf/" target="_blank">
                                        <span class="fw-semibold mx-2">Preview</span>
                                    </a>
                            </div>
                            <div class="rounded bg-orange download-pdf btn-pdf text-white text-center mx-2 p-2 d-flex align-items-center btn-animate-org">
                                <i class="ri-file-download-line text-white"></i>
                                <a href="<?php echo $app['www'] ?>/<?php echo $app['action']['E_42'] ?>/BukuPedomanGratifikasiPKT.pdf/">
                                    <span class="fw-semibold mx-2">Download</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <h6 class="text-blue">Gratifikasi</h6>
                <p class="fs-6 fw-lighter lh-md mb-4">
                    Gratifikasi adalah kegiatan pemberian dan atau penerimaan Hadiah/Cinderamata dan Hiburan, baik yang diterima di dalam negeri maupun di luar negeri, dan yang dilakukan dengan menggunakan sarana elektronik atau tanpa sarana elektronik, yang dilakukan oleh Insan Pupuk Kaltim terkait dengan wewenang/jabatannya di Pupuk Kaltim, sehingga dapat menimbulkan benturan kepentingan yang mempengaruhi independensi, objektivitas, maupun profesionalisme Insan Pupuk Kaltim.
                    <br />
                    <br />
                    Dalam rangka mewujudkan pengelolaan bisnis Pupuk Kaltim yang amanah, transparan dan akuntabilitas, maka Pupuk Kaltim menyadari pentingnya pelaksanaan sikap yang tegas terhadap pengendalian gratifikasi yang melibatkan Insan Pupuk Kaltim, meskipun dalam kegiatan usaha Pupuk Kaltim, gratifikasi merupakan hal yang mungkin sulit dihindari oleh Insan Pupuk Kaltim. Hal ini penting untuk dibudayakan di lingkungan Pupuk Kaltim sebagai suatu proses pembelajaran bagi Insan Pupuk Kaltim yang mempunyai harkat, martabat dan citra yang tinggi dalam hubungan bisnis dengan para Pemangku Kepentingan.
                    <br />
                    <br />
                    Untuk menangani hal tersebut, maka disusunlah Pedoman Pengendalian Gratifikasi/PPG yang selaras dengan Pedoman Tata Kelola Pupuk Kaltim dan Pedoman Perilaku serta nilai-nilai yang berlaku di Pupuk Kaltim. Pedoman tersebut disusun untuk mengatur pengendalian gratifikasi diantaranya Insan Pupuk Kaltim dengan pihak ketiga yang terkait dengan kegiatan usaha meliputi penerimaan, pemberian dan permintaan gratifikasi serta unit pengelola dan mekanisme pelaporan. Pengendalian gratifikasi ini sangat penting bagi perusahaan karena dapat menimbulkan benturan kepentingan yang dapat mempengaruhi independensi, objektifitas, dan profesionalisme Insan Pupuk Kaltim, serta berisiko mengarah pada pidana suap yang dapat memberikan konsekuensi hukum yang berpotensi merugikan citra perusahaan.
                    <br />
                    <br />
                    Pedoman Pengendalian Gratifikasi PT Pupuk Kaltim tertuang pada Surat Keputusan Direksi Nomor: 55/DIR/X.2015. Pedoman Pengendalian Gratifikasi PT Pupuk Kaltim ini sebagai acuan utama bagi pelaksanaan Pengendalian Gratifikasi di PT Pupuk Kaltim. Pada Surat Keputusan tersebut tecantum:
                </p>
                <ol class="fs-6 fw-lighter lh-md mb-4">
                    <li>Pedoman Pengendalian Gratifikasi PT Pupuk Kaltim</li>
                    <li>Struktur dan Tugas Kewenangan Unit Pengendalian Gratifikasi (UPG) PT Pupuk Kaltim</li>
                    <li>Formulir Pelaporan Pengendalian Gratifikasi PT Pupuk Kaltim.</li>
                </ol>
                <p class="fs-6 fw-lighter lh-md mb-4">
                    Pedoman Pengendalian Gratifikasi ini berlaku untuk Insan Pupuk Kaltim yaitu Dewan Komisaris, Direksi, dan Karyawan PT Pupuk Kaltim. Maksud dan tujuan dari Pedoman Pengendalian Gratifikasi Perusahaan ini antara lain:
                </p>
                <ol class="fs-6 fw-lighter lh-md mb-4">
                    <li>Meningkatkan pemahaman dan kepatuhan seluruh Insan Pupuk Kaltim terhadap ketentuan gratifikasi</li>
                    <li>Membentuk lingkungan Perusahaan yang sadar dan paham dalam menangani/mengendalikan segala bentuk gratifikasi</li>
                    <li>Sebagai Pedoman bagi Insan Pupuk Kaltim untuk memahami, mencegah dan menanggulangi Gratifikasi di Perusahaan</li>
                    <li>Sebagai Pedoman bagi Insan Pupuk Kaltim dalam mengambil sikap yang tegas terhadap Gratifikasi di Perusahaan untuk mewujudkan pengelolaan Perusahaan yang Baik</li>
                    <li>Mewujudkan pengelolaan Perusahaan yang bebas dari segala bentuk Korupsi, Kolusi dan Nepotisme (KKN)</li>
                    <li>Menciptakan lingkungan yang transparan dan akuntabel untuk mendukung terciptanya GCG di lingkungan Perusahaan</li>
                </ol>
            </div>
          </div>
        </div>
      </section>