<div class="d-flex justify-content-start py-2">
  <div
    class="rounded bg-blue preview-pdf btn-pdf text-white text-center mx-2 p-2 d-flex align-items-center justify-content-between">
    <i class="ri-zoom-in-line text-white"></i>
    <span class="fw-semibold mx-2 act-ebooks-preview"><a href="#" target="_blank">Preview</a></span>
  </div>
  <div class="rounded bg-orange download-pdf btn-pdf text-white text-center mx-2 p-2 d-flex align-items-center">
    <i class="ri-file-download-line text-white"></i>
    <span class="fw-semibold mx-2 act-files-download"><a href="#">Download</a></span>
  </div>
</div>
