<section id="profil-bisnis" class="profil-bisnis">
  <div class="container" data-aos="fade-up">
    <div class="row content px-3">
      <div class="col-lg-4">
        <p class="section-title">PROFIL BISNIS</p>
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0">
        <p class="fs-6 fw-lighter lh-lg">
          Pupuk Kaltim sebagai perusahaan milik negara berkomitmen untuk memberikan hasil terbaik untuk menunjang produksi pupuk nasional.  Bisnis utama Pupuk Kaltim adalah memproduksi dan menjual Pupuk Urea,  Amoniak,  dan Pupuk NPK dengan segmen pasar dalam maupun luar negeri. Berdasarkan Anggaran Dasar Sesuai Anggaran Dasar Kegiatan Usaha Perusahaan menurut Anggaran Dasar No. 07 tanggal 30 Agustus 2019 pasal 3 adalah:
        </p>
      </div>
    </div>
    <div class="row content">
      <div class="col-lg-12">
        <div class="container">
          <div class="accordion-contianer py-4">
            <button id="first-accordion" class="accordion">INDUSTRI MANUFAKTUR</button>
            <div class="panel">
              <p class="fs-6 fw-lighter lh-lg">Mengolah  bahan-bahan mentah tertentu menjadi bahan pokok yang diperlukan untuk pembuatan pupuk, petrokimia, agrokimia, agroindustri, dan bahan kimia lainnya serta mengolah bahan pokok tersebut menjadi berbagai jenis pupuk dan hasil kimia lainnya beserta produk-produk turunannya.
                <br />
                <br />
                  Selain produksi produk pupuk dan amoniak, Pupuk Kaltim juga memproduksi utilitas pabrik seperti  steam, listrik, dan air demineralisasi untuk mencukupi kebutuhan industri Perusahaan. Guna menunjang keberlangsungan bisnis dan mengukuhkan posisinya di dunia bisnis manufaktur,  Pupuk Kaltim secara spesifik merencanakan ekspansi bisnis di bidang pengolahan methanol. Hal ini ditandai dengan perencanaan pembangunan unit pengolahan baru dan penyiapan lahan industri di kawasan industri  Pupuk Kaltim.
                </p>
            </div>
          </div>
          <div class="accordion-contianer py-4">
            <button class="accordion">PERDAGANGAN</button>
            <div class="panel">
              <p class="fs-6 fw-lighter lh-lg">Menjalankan  distribusi  dan  perdagangan  urea,  amoniak, produk pupuk, petrokimia, agrokimia, agroindustri, dan bahan kimia baik secara domestik dan internasional, termasuk impor bahan baku, bahan pendukung, peralatan produksi pupuk, dan bahan kimia.
                <br />
                <br />
                  Selain itu, untuk memastikan dan menjamin siklus industri dari produksi barang kepada konsumen,  Pupuk Kaltim menjalankan aktivitas pre-marketing di seluruh lini pemasaran. Secara korporat, kebijakan ini menjadikan trading bahan baku pupuk sebagai bagian dari aktivitas bisnis korporat.
                </p>
            </div>
          </div>
          <div class="accordion-contianer py-4">
            <button class="accordion">JASA</button>
            <div class="panel">
              <p class="fs-6 fw-lighter lh-lg">Melaksanakan studi penelitian, pendidikan, pengembangan, desain engineering, pengantongan (bagging station), konstruksi, pabrikasi, manajemen pengoperasian pabrik, perbaikan atau reparasi, pemeliharaan, konsultasi (kecuali konsultasi bidang hukum), dan jasa teknis lainnya dalam sektor industri pupuk, petrokimia, agrokimia, agroindustri, serta industri kimia lainnya dan juga jasa dalam bidang pertanian dan perkebunan.
                <br />
                <br />
            Pada bidang jasa, Pupuk Kaltim menjalankan riset dan pengembangan yang terdiri dari pengembangan produk, teknologi, hingga jasa pelayanan perawatan pabrik. Pengembangan riset produk memungkinkan Pupuk Kaltim mengembangkan produk-produk baru yang akan dipasarkan melalui pasar ritel. Di bidang jasa pelayanan perawatan pabrik, Pupuk Kaltim terus berkiprah melalui penjualan jasa dan peralatan. Fokus usaha jasa Pupuk Kaltim berkembang dengan implementasi PreciPalm, yaitu jasa pengelolaan solusi pertanian cerdas (smart farming) untuk meningkatkan efisiensi pertanian dan produktivitas lahan.
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>