<section id="riwayat-singkat" class="product">
  <div class="container" data-aos="fade-up">
    <div class="row content">
      <div class="col-lg-2">
        <p class="section-title">RIWAYAT SINGKAT</p>
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0">
        <h3 class="fs-2 fw-lighter mb-3">
          Sejarah Pupuk Kaltim
        </h3>
        <p class="fs-6 fw-lighter lh-lg">
          PT Pupuk Kalimantan Timur (PKT) adalah salah satu produsen pupuk urea dan NPK terbesar di Asia yang didirikan
          pada tanggal 7 Desember 1977. Berawal dari <strong>rencana pembangunan</strong> pabrik pupuk terapung yang
          dikelola oleh Pertamina, kemudian berdasarkan Keputusan Presiden No. 43 tahun 1975 dan Keputusan Presiden No.
          39 tahun 1976 pengelolaannya diserahkan kepada Departemen Perindustrian. Pada Tahun 2012 PKT menjadi anak
          perusahaan PT Pupuk Indonesia (Persero).
          <br />
          <br />
          Hingga saat ini Pupuk Kaltim memiliki 13 Pabrik diantaranya 5 pabrik Amoniak berkapasitas 2,74 juta ton/tahun,
          5 pabrik Urea berkapasitas 3,43 juta ton/tahun dan 3 pabrik NPK berkapasitas 300 ribu ton/tahun. Selain
          memiliki 13 Pabrik berteknologi mutakhir, Pupuk Kaltim juga memiliki fasilitas pendukung lainnya seperti
          Boiler Batu Bara berkapasitas 560ton steam/jam, 6 Gudang berkapasitas 315 ribu ton, 6 Dermaga 156 ribu DWT, 3
          Tangki Amoniak berkapasitas 102 ton dan Laboratorium yang terakreditasi ISO/ICE 17025:2017.
        </p>
        <br />
        <br />
        <h3 class="fs-2 fw-semibold mb-3">
          Visi
        </h3>
        <p class="fs-5 fw-lighter lh-lg">
          "Menjadi perusahaan kelas dunia yang memberikan solusi inovatif dan berdaya saing di bidang agribisnis dan
          kimia untuk masa depan yang berkesinambungan".
        </p>
        <br />
        <br />
        <h3 class="fs-2 fw-semibold mb-3">
          Misi
        </h3>
        <ul class="f2-6 fw-lighter lh-lg">
          <li>Menjalankan bisnis di bidang solusi agrikultur, kimia, dan jasa pelayanan pabrik yang berdaya saing
            tinggi;</li>
          <li>Mengoptimalkan nilai Perusahaan melalui bisnis inti dan pengembangan bisnis baru dengan ekspansi global
            dan mengoptimalkan circular economy yang dapat memberikan nilai tambah dan meningkatkan pendapatan;</li>
          <li>Mendukung program ketahanan dan kedaulatan pangan nasional dengan menerapkan konsep sustainability
            Agri-Culture ;</li>
          <li>Mengoptimalkan utilisasi Sumber Daya di lingkungan sekitar maupun pasar global yang didukung oleh SDM yang
            berwawasan internasional dengan menerapkan teknologi terdepan;</li>
          <li>Memberikan manfaat yang optimum bagi Pemegang Saham, karyawan dan masyarakat global serta peduli pada
            lingkungan.</li>
        </ul>
      </div>
    </div>
  </div>
</section>