<section id="greenport" class="product">
    <div class="container" data-aos="fade-up">
        <div class="row content">
            <div class="col-lg-3">
                <p class="section-title">GREEN PORT TERMINAL KHUSUS</p>
            </div>
            <div class="col-lg-9 pt-4 pt-lg-0">
                <h3 class="fs-2 fw-lighter mb-3">
                    PT PUPUK KALIMANTAN TIMUR
                </h3>
                <p class="fs-6 fw-lighter lh-lg">
                    Pelabuhan penerima penghargaan Green Port Award Pertama di Indonesia
                    <br />
                    <br />
                    PT Pupuk Kalimantan Timur merupakan perusahaan yang mengelola dan mengoperasikan Terminal Khusus
                    (Tersus) yang ditetapkan oleh Kementerian Perhubungan Direktorat Jenderal Perhubungan Laut dengan
                    Nomor: BX-341/PP 008 Tahun 2017 yang terletak pada titik koordinat dengan posisi Lintang Utara
                    00010’48” dan Bujur Timur 112029’38”.
                </p>
            </div>
        </div>
        <br />
        <br />
    </div>
    <div class="bg-greenport"></div>
</section>
<section class="greenport">
    <div class="container" data-aos="fade-up">
        <div class="row content px-3">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0">
                <p class="fs-6 fw-lighter lh-lg">
                    Dimulai pada awal tahun 2018 PT Pupuk Kaltim berkomitmen untuk menerapkan konsep Pelabuhan ramah
                    lingkungan di Tersus PKT. Untuk mendukung konsep Pelabuhan ramah lingkungan, seluruh aspek di Tersus
                    PKT menerapkan konsep ramah lingkungan sesuai persyaratan dalam Green Port Guideline dan Rating
                    Tools, sebagai contoh konsep ramah lingkungan yang telah diterapkan di Tersus PKT adalah sebagai
                    berikut:
                <ul style="list-style-type: number; font-weight: 100;">
                    <li>Alat berat Crane menggunakan tenaga listrik.</li>
                    <li>Mengganti lampu penerangan konvensional dengan LED.</li>
                    <li>Melakukan uji emisi kendaraan operasional Pelabuhan.</li>
                    <li>Memiliki tanaman hidup di lingkungan kerja.</li>
                    <li>Menggunakan cat ramah lingkungan.</li>
                    <li>Mengoptimalkan pencahayaan alami dan membuat pencahayaan buatan untuk menjaga kesehatan mata dan
                        produktivitas dalam rangka penerapan green building.</li>
                    <li>Menghindari penggunaan bahan perusak ozon.</li>
                    <li>Kualitas udara ambient di wilayah Tersus PKT sesuai baku mutu.</li>
                    <li>Memiliki pohon pelindung dan tanaman yang dapat mereduksi kebisingan.</li>
                    <li>Berkomitmen mengembangkan potensi mangrove dengan Program Diversifikasi Mangrove dan Budidaya
                        Kepiting (Server mang Budi) di Kawasan Telok Bangko Kelurahan Loktuan Bontang Utara,Provinsi
                        Kalimantan Timur untuk menjaga pelestarian keanekaragaman hayati dan tata Kelola lingkungan.
                    </li>
                    <li>Program pelestarian terumbu karang di area konservasi dengan rutin menurunkan media terumbu
                        sebanyak 500 setiap tahun.</li>
                    <li>Implementasi Shore Power Connection di Tersus PKT, penggunaan energi fosil diganti dengan energi
                        listrik (shore power).</li>
                    <li>Tersus PKT memiliki Port Reception Facilities untuk pengelolaan limbah sampah dari kapal.</li>
                    <li>Implementasi Sistem Manajemen Terintegrasi ISO 9001:2015, ISO 14001:2015, ISO 45001:2018 dan ISO
                        50001:2018.</li>
                </ul>
                </p>
                <p class="fs-6 fw-lighter lh-lg">
                    Berdasarkan Implementasi yang telah diterapkan Tersus PKT, pada tanggal 18 s/d 21 Pebruari 2019
                    telah dilakukan assessment Green Port terkait tingkat pencapaian Implementasi Green Port di area
                    Terminal Khusus PT Pupuk Kalimantan Timur yang mengacu pada dokumen Green Port Award Guideline dan
                    Rating Tools. Dari hasil assessment tersebut Tersus PKT memperoleh hasil peringkat Level III dengan
                    perolehan nilai 80,19.
                    Tersus PKT menjadi Pelabuhan pertama di Indonesia yang mendapatkan Award Green Port dan mendapatkan
                    apresiasi dari Kementerian Koordinator Bidang Kemaritiman.
                    Penyerahan penghargaan Green Port Award kepada Terminal Khusus PT Pupuk Kalimantan Timur dilakukan
                    secara langsung sekaligus membuktikan bahwa Tersus PKT merupakan pelabuhan yang menerapkan konsep
                    ramah lingkungan.
                </p>
            </div>
        </div>
    </div>
</section>
