
<section id="budaya-perusahaan" class="product">
  <div class="container" data-aos="fade-up">
    <div class="row content" id="budaya-perusahaan">
      <div class="col-lg-2">
        <p class="section-title">BUDAYA PERUSAHAAN</p>
      </div>
      <div class="col-lg-9 pt-4 pt-lg-0">
        <p class="fs-6 fw-lighter lh-lg">
          Karyawan dan keluarga besar Pupuk Kaltim turut menerapkan nilai-nilai dan Budaya Perusahaan pada prilaku
          sehari-hari yang terangkum dalam AKHLAK sebagai new core values Perusahaan.
        </p>
        <br />
        <br />
        <ul class="about-culture">
          <li>
            <h3>Amanah</h3>
            <p>Memegang teguh kepercayaan yang diberikan.</p>
          </li>
          <li>
            <h3>Kompeten</h3>
            <p>Terus belajar dan mengembangkan kapabilitas.</p>
          </li>
          <li>
            <h3>Harmonis</h3>
            <p>Saling peduli dan menghargai perbedaan.</p>
          </li>
          <li>
            <h3>Loyal</h3>
            <p>Berdedikasi dan mengutamakan kepentingan Bangsa dan Negara.</p>
          </li>
          <li>
            <h3>Adaptif</h3>
            <p>Terus berinovasi dan antusias dalam menggerakkan ataupun menghadapi perubahan.</p>
          </li>
          <li>
            <h3>Kolaboratif</h3>
            <p>Membangun kerjasama yang sinergis.</p>
          </li>
        </ul>
        <ul class="about-culture">

        </ul>
      </div>
    </div>
  </div>
  <div class="bg-profil-bisnis"></div>
</section>