<section id="corporate-identity">
    <div class="container" data-aos="fade-up">
        <div class="row content">
            <div class="col-lg-3">
                <p class="section-title">Corporate Identity</p>
            </div>
            <div class="col-lg-9 pt-4 pt-lg-0">
                <p class="fs-6 fw-lighter lh-lg">
                    Pupuk Kaltim memiliki semua hak atas logo perusahaan. Mohon untuk mengikuti semua aturan yang
                    diuraikan dalam Corporate Identity ini saat menggunakan logo Pupuk Kaltim
                </p>
                <img src="../../public/assets/files/img/ci1.png" />
                <br />
                <br />
                <h5 class="text-ci">Konsep Logo</h5>
                <img src="../../public/assets/files/img/ci2.png" />
                <br />
                <br />
                <h5 class="text-ci">Logo Gram:</h5>
                <p class="fs-6 fw-lighter lh-lg">Merupakan bentuk penyederhanaan dari logo sebelumnya. Logo terdiri atas
                    bentuk:</p>
                <ol class="fs-6 fw-lighter lh-lg">
                    <li>Segilima melambangkan Pancasila, merupakan landasan idil perusahaan.</li>
                    <li>Daun dan buah melambangkan kesuburan dan kemakmuran.</li>
                    <li>Lingkaran putih kecil adalah letak lokasi Bontang dekat khatulistiwa.</li>
                    <li>Warna biru lambang keluasan nusantara.</li>
                </ol>
                <h5 class="text-ci">Logo Type:</h5>
                <p class="fs-6 fw-lighter lh-lg">
                    Brand name merupakan identitas penulisan nama perusahaan atau merek dagang dengan pengolahan huruf
                    sebagai ciri khususnya dan beberapa ketentuan lainnya. Brand name merupakan stiliasi huruf Futura
                    MD, Italic. Karakter huruf Futura terlihat simpel sehingga berkesan lebih modern, dinamis, terbuka
                    dan responsif. Brand name harus selalu menyertakan logo dengan posisi rata tengah di antara 2 kata.
                </p>
                <h5 class="text-ci">Warna Logo</h5>
                <img src="../../public/assets/files/img/ci3.png" />
                <h6 class="fw-bold text-orange">Jingga:</h6>
                <p class="fs-6 fw-lighter lh-lg">
                    Melambangkan semangat kreativitas yang membangun dan sikap profesional dalam mencapai kesuksesan
                    usaha.
                </p>
                <h6 class="fw-bold text-blue">Biru:</h6>
                <p class="fs-6 fw-lighter lh-lg">
                    Melambangkan keluasan wawasan nusantara dan semangat integritas untuk membangun bersama serta
                    kebijaksanaan dalam memanfaatkan sumber daya alam.
                </p>
                <br />
                <br />
                <h5 class="text-ci">Proporsi Logo</h5>
                <img src="../../public/assets/files/img/ci4.png" />
                <br />
                <br />
                <h5 class="text-ci">Proporsi Logo Horizontal</h5>
                <img src="../../public/assets/files/img/ci5.png" />
                <br />
                <br />
                <h5 class="text-ci">Proporsi Logo Vertical</h5>
                <img src="../../public/assets/files/img/ci6.png" />
                <br />
                <br />
                <h5 class="text-ci">Area Aman & Ukuran Terkecil Logo</h5>
                <img src="../../public/assets/files/img/ci7.png" />
                <p class="fs-6 fw-lighter lh-lg">
                    Untuk memastikan logo Pupuk Kaltim terlihat jelas bersamaan dengan grafis atau media lain dan tidak
                    terpotong, hendaknya perlu diperhatikan penyediaan area aman atau ruang kosong di sekeliling logo.
                    Area aman berjarak 1 cm dari batas terluar tiap sisi logo Pupuk Kaltim.
                </p>
                <h5 class="text-ci">Penempatan Logo</h5>
                <p class="fs-6 fw-lighter lh-lg">
                    Pengaplikasian logo pada bidang berwarna mengikuti ketentuan sebagai berikut:
                </p>
                <ol class="fs-6 fw-lighter lh-lg">
                    <li>Aplikasi logo berwarna Jingga dan Biru sebagai penggunaan primer untuk latar berwarna putih dan
                        diperbolehkan untuk menggunakan logo berwarna hitam jika diperlukan.</li>
                    <li>Aplikasi logo untuk latar hitam menggunakan logo berwarna putih.</li>
                    <li>Aplikasi logo untuk latar Jingga dan Biru harus disesuaikan dan mengganti warnanya dengan warna
                        putih.</li>
                    <li>Sisi kiri perisai harus terisi warna dan sisi luar perisai logo harus memiliki warna dalam
                        bentuk melingkar sebagai bentuk filosofis identitas Kota Bontang.</li>
                </ol>
                <img src="../../public/assets/files/img/ci8.png" />
                <p class="fs-6 fw-lighter lh-lg">
                    Penggunaan logo pada latar belakang biru mengikuti panduan sebagai berikut sebagai cerminan
                    konsistensi
                </p>
                <img src="../../public/assets/files/img/ci9.png" />
                <p class="fs-6 fw-lighter lh-lg">
                    Penggunaan logo pada latar belakang jingga mengikuti panduan sebagai berikut sebagai cerminan
                    konsistensi
                </p>
                <img src="../../public/assets/files/img/ci10.png" />
                <p class="fs-6 fw-lighter lh-lg">
                    Penggunaan logo yang tidak diperbolehkan
                </p>
                <img src="../../public/assets/files/img/ci11.png" />
            </div>
        </div>
        <br />
        <br />
    </div>
</section>
