<section id="sekilas">
        <div class="container" data-aos="fade-up">
          <div class="row content">
            <div class="col-lg-3">
              <p class="section-title">Sekilas GCG</p>
            </div>
            <div class="col-lg-9 pt-4 pt-lg-0">
                <p class="fs-6 fw-lighter lh-md">
                    Tata Kelola Perusahaan yang Baik (GCG) merupakan suatu sistem pengelolaan perusahaan yang mencerminkan hubungan yang tersinergi antara manajemen dan pemegang saham, kreditur, pemerintah, pemasok dan pemangku kepentingan lainnya. Penerapan GCG di Perusahaan memiliki peranan yang penting demi keberlangsungan Perusahaan dengan tujuan membangun lingkungan bisnis yang sehat dan memberi nilai tambah kepada seluruh pemangku kepentingan. Dengan menerapkan prinsip GCG, Perusahaan dapat bertahan dan tangguh dalam menghadapi persaingan usaha yang ketat. GCG diharapkan dapat menjadi sarana untuk mencapai Visi, Misi dan Tujuan Perusahaan secara lebih baik.

                    Prinsip-prinsip GCG yang terdiri dari Transparansi, Akuntabilitas, Responsibilitas, Kemandirian dan Keadilan harus dijalankan secara menyeluruh dan konsisten serta menjadi jiwa dan spirit setiap Insan Pupuk Kaltim. Sebagai output, GCG akan memberikan perlindungan bagi para pemangku kepentingan dan pada akhirnya GCG akan membantu menciptakan lingkungan yang kondusif terhadap pertumbuhan dunia usaha yang berkesinambungan.
                </p>
            </div>
          </div>
        </div>
      </section>