<div class="box-shorcut-menu">
  <i class="ri-phone-lock-fill trigger-shorcut-menu"></i>
  <div class="shorcut-menu">
    <ul class="link">
      <li><i class="ri-notification-4-fill"></i><a href="#" target="_blank">Whistleblowing System</a></li>
      <li><i class="ri-file-list-3-fill"></i><a href="#" target="_blank">E-Procurement</a></li>
      <li><i class="ri-mail-fill"></i><a href="#">Pengaduan Pemasaran</a></li>
      <li><i class="ri-bookmark-fill"></i><a href="#">E-Media</a></li>
      <li><i class="ri-star-fill"></i><a href="#" target="_blank">Pupuk Indonesia</a></li>
      <li><i class="ri-clipboard-fill"></i><a href="#" target="_blank">Pendaftaran Customer</a></li>
      <li><i class="ri-shirt-fill"></i><a href="#" target="_blank">Program Internship</a></li>
      <li><i class="ri-reactjs-line"></i><a href="#" target="_blank">Portal GRC</a></li>
      <li><i class="ri-feedback-fill"></i><a href="#" target="_blank">E-Announcement LHKPN</a></li>
    </ul>
    <hr class="text-white" />
    <ul class="info">
      <li>Layanan pelanggan Pupuk Indonesia:</li>
      <li>0800 100 8001 (Bebas Pulsa)</li>
      <li>0811 991 8001 (WhatsApp)</li>
      <li>konsumen@pupuk-indonesia.com</li>
      <li>Gedung Graha Phonska, Lt. 4. Jalan Tanah Abang III, No. 116 Jakarta Pusat 10160</li>
    </ul>
  </div>
</div>