<section class="structure-org" id="struktur-organisasi-perusahaan">
  <div class="container" data-aos="fade-up">
    <p class="section-title">STRUKTUR ORGANISASI PERUSAHAAN</p>
    <div class="row content">
      <div class="col-lg-12">
        <div class="box-structure-org border">
          <div class="text-center" id="panzoom-1">
            <img src="../../public/assets/files/img/structure-1.png" width="700" alt="..." />
          </div>
          <div class="zoom-control">
            <button id="zoom-in-1"><i class="ri-add-fill"></i></button>
            <button id="zoom-out-1"><i class="ri-subtract-fill"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>