<section class="structure-org" id="anak-usaha-pkt">
  <div class="container" data-aos="fade-up">
    <div class="row content">
      <div class="col-lg-12">
        <table class="table table-hover table-bordered mb-5">
          <thead class="blue">
            <tr>
              <th scope="col" class="text-blue" rowspan="2" valign="middle" width="5%">No</th>
              <th scope="col" class="text-blue" rowspan="2" valign="middle" width="35%">Jenis Usaha</th>
              <th scope="col" class="text-blue" rowspan="2" valign="middle" width="10%">Tahun Pendirian</th>
              <th scope="col" class="text-blue" rowspan="2" valign="middle" width="10%">Persentase Kepemilikan</th>
              <th scope="col" class="text-blue" colspan="2" width="15%">Jumlah Total Aset<br />(Rp juta )</th>
              <th scope="col" class="text-blue" rowspan="2" valign="middle" width="25%">Alamat</th>
            </tr>
            <tr>
              <th scope="col" class="text-blue">2021 (audited)</th>
              <th scope="col" class="text-blue">2022 (audited)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center">1</td>
              <td class="fw-normal">
                <img src="../../public/assets/files/img/kie.png" height="50" alt="..." /> <br />
                <strong>PT Kaltim Industrial Estate (KIE)</strong><br />
                Bergerak di bidang penyediaan lahan industri dengan luas 230 ha yang memiliki berbagai fasilitas
                pendukung, termasuk sarana pengolahan limbah serta gedung perkantoran. Berlokasi di Kawasan Bisnis Pupuk
                Kaltim, Bontang. Pupuk Kaltim memiliki saham sebesar 99,998% dan YKHT Pupuk Kaltim sebesar 0,002%.<br />
                Website: <a href="https://kie.co.id" target="_blank" class="text-blue">www.kie.co.id</a>
              </td>
              <td align="center">1990</td>
              <td align="center">99,99% </td>
              <td align="right">1.069.340</td>
              <td align="right">1.042.225</td>
              <td align="left">Wisma KIE Lt. 3 <br />
                Jl. Paku Aji Kavling 79, Kompleks Kawasan Industri Bontang, Kalimantan Timur. <br />
                Telp: 0548 41368 ext. 101 (5 lines) ext. 5800 <br />
                Faks: (0548) 41370
              </td>
            </tr>
            <tr>
              <td align="center">2</td>
              <td class="fw-normal">
                <img src="../../public/assets/files/img/kalianusa.png" height="50" alt="..." /> <br />
                <strong>PT Kalimantan Agro Nusantara (Kalianusa)</strong><br />
                Bergerak di bidang perkebunan kelapa sawit. Kalianusa merupakan perusahaan patungan antara PT Perkebunan
                Nusantara XIII sebesar 41,07% dan Pupuk Kaltim sebesar 58,93% yang didirikan pada 14 September 2009
                dengan lahan seluas 7.100 hektar di Kabupaten Kutai Timur, Provinsi Kalimantan Timur.<br />
                Website: <a href="http://kalianusa.com" target="_blank" class="text-blue">www.kalianusa.com</a>
              </td>
              <td align="center">2009</td>
              <td align="center">58,93% </td>
              <td align="right">596.365</td>
              <td align="right">567.171</td>
              <td align="left">Thomas Square Blok C–5 <br />
                Jl. Yos Sudarso II No. 17 Sangatta, Kalimantan Timur.<br />
                Telp: (0549) 2027833/ 2027866<br />
                Faks: (0549) 2027774
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>