<section class="structure-org blue" id="struktur-kepemilikan-saham">
  <div class="container" data-aos="fade-up">
    <p class="section-title">STRUKTUR KEPEMILIKAN SAHAM</p>
    <div class="row content">
      <div class="col-lg-5">
        <h3 class="fs-2 fw-lighter mb-5">
          PT Pupuk Indonesia (Persero) adalah Perusahaan induk untuk Badan Usaha Milik Negara (BUMN) yang bergerak dalam
          bidang industri pupuk di Indonesia. Pupuk indonesia memiliki saham di Pupuk Kaltim sebesar 99,999% dan seluruh
          saham perseroan dimiliki oleh Pemerintah Indonesia.
        </h3>
      </div>
      <div class="col-lg-7">
        <img src="../../public/assets/files/img/saham.png" width="550" alt="..." />
      </div>
      <div class="col-lg-12 pt-4 pt-lg-0">
        <h3 class="fs-3 fw-bold mb-4">INFORMASI PEMEGANG SAHAM</h3>
        <p class="fs-6 fw-lighter lh-md">
          Komposisi Pemegang Saham Posisi 31 Desember 2021
        </p>
        <table class="table table-hover table-bordered mb-5">
          <thead class="blue">
            <tr>
              <th scope="col" class="text-blue">No</th>
              <th scope="col" class="text-blue">Nama Pemegang Saham</th>
              <th scope="col" class="text-blue">Jumlah Kepemilikan (lembar)</th>
              <th scope="col" class="text-blue">Persentase Kepemilikan (%)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="fw-bold" colspan="4">Pemegang Saham dengan Kepemilikan Saham 5% atau Lebih </td>
            </tr>
            <tr>
              <td align="center">1</td>
              <td class="fw-normal">PT Pupuk Indonesia (Persero)</td>
              <td align="right">17.599.812.013</td>
              <td align="right">99,999</td>
            </tr>
            <tr>
              <td align="center">2</td>
              <td class="fw-normal">Yayasan Kesejahteraan Hari Tua (YKHT) Pupuk Kaltim</td>
              <td align="right">187.987</td>
              <td align="right">0,001</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>